In [17]:
#Import c√°c th∆∞ vi·ªán c·∫ßn thi·∫øt
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.gridspec as gridspec
import matplotlib.ticker as mtick
from matplotlib.colors import LinearSegmentedColormap
from matplotlib import colors as mcolors

In [18]:
# ƒê·ªçc file d·ªØ li·ªáu 
filename="istanbul_sales_data.csv"
df = pd.read_csv(filename)

# üîç Data Overview

In [19]:
# Hi·ªÉn th·ªã d·ªØ li·ªáu
df.head()

,Invoice Number,Customer ID,Gender,Age,Category,Quantity,Price,Payment Method,Invoice Date,Shopping Mall
0,I100001,C313884,Female,28.0,Clothing,2.0,600.16,Credit Card,5/18/2023,Istinye Park
1,I100002,C311565,Male,22.0,Technology,1.0,2100.00,Credit Card,2/12/2024,Zorlu Center
2,I100003,C366599,Male,20.0,Clothing,1.0,300.08,Cash,9/11/2023,Metrocity
3,I100004,C388172,Female,66.0,Books,5.0,75.75,Credit Card,1/28/2024,Metropol AVM
4,I100005,C389076,Female,53.0,Cosmetics,4.0,162.64,Cash,10/24/2023,Cevahir AVM

In [20]:
# Th√¥ng tin d·ªØ li·ªáu
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Invoice Number  504 non-null    object
 1   Customer ID     503 non-null    object
 2   Gender          503 non-null    object
 3   Age             503 non-null    float64
 4   Category        503 non-null    object
 5   Quantity        503 non-null    float64
 6   Price           503 non-null    float64
 7   Payment Method  503 non-null    object
 8   Invoice Date    503 non-null    object
 9   Shopping Mall   503 non-null    object
dtypes: float64(3), object(7)
memory usage: 39.5+ KB

In [21]:
# Th·ªëng k√™ d·ªØ li·ªáu
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,503.0,40.862823,13.424982,18.00,30.0,39.00,51.00,72.0
Quantity,503.0,2.697813,1.321043,1.00,2.0,2.00,4.00,5.0
Price,503.0,1206.421948,3064.507191,5.23,41.9,143.36,900.24,26250.0

# üßπ Data Cleaning

In [22]:
# Ki·ªÉm tra xem d·ªØ li·ªáu c√≥ b·ªã r·ªóng (Nan)
df.isnull().sum()

Invoice Number    0
Customer ID       1
Gender            1
Age               1
Category          1
Quantity          1
Price             1
Payment Method    1
Invoice Date      1
Shopping Mall     1
dtype: int64

In [23]:
# X√≥a d√≤ng b·ªã tr√πng l·∫∑p (v√¨ ch·ªâ c√≥ 1 d√≤ng)
df = df.dropna()

#Ki·ªÉm tra l·∫°i xem d·ªØ li·ªáu c√≤n Nan hay kh√¥ng
df.isnull().sum()

Invoice Number    0
Customer ID       0
Gender            0
Age               0
Category          0
Quantity          0
Price             0
Payment Method    0
Invoice Date      0
Shopping Mall     0
dtype: int64

In [24]:
# Ki·ªÉm tra duplicate to√†n b·ªô d√≤ng
duplicate_rows = df[df.duplicated()]
print(f"S·ªë d√≤ng duplicate to√†n b·ªô: {duplicate_rows.shape[0]}")

S·ªë d√≤ng duplicate to√†n b·ªô: 0

In [25]:
#Chu·∫©n h√≥a ki·ªÉu d·ªØ li·ªáu c·ªôt "Invoice Date" sang datetime
df['Invoice Date'] = pd.to_datetime(df['Invoice Date'], format='%m/%d/%Y')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 503 entries, 0 to 502
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Invoice Number  503 non-null    object
 1   Customer ID     503 non-null    object
 2   Gender          503 non-null    object
 3   Age             503 non-null    float64
 4   Category        503 non-null    object
 5   Quantity        503 non-null    float64
 6   Price           503 non-null    float64
 7   Payment Method  503 non-null    object
 8   Invoice Date    503 non-null    datetime64[ns]
 9   Shopping Mall   503 non-null    object
dtypes: datetime64[ns](1), float64(3), object(6)
memory usage: 43.2+ KB

In [26]:
# Chu·∫©n h√≥a c·ªôt "Age" v√† "Quantity" sang ki·ªÉu d·ªØ li·ªáu int
df['Age'] = df['Age'].astype("Int32")
df['Quantity'] = df['Quantity'].astype("Int32")

In [27]:
# T·∫°o nh√£n nh√≥m tu·ªïi
labels = ['Young Adult', 'Adult', 'Middle-aged', 'Senior']

#T·∫°o c·ªôt 'Age Group'
df['Age Group'] = pd.qcut(df['Age'],q=4,labels=labels)

# Hi·ªÉn th·ªã
df.head()

,Invoice Number,Customer ID,Gender,Age,Category,Quantity,Price,Payment Method,Invoice Date,Shopping Mall,Age Group
0,I100001,C313884,Female,28,Clothing,2,600.16,Credit Card,2023-05-18,Istinye Park,Young Adult
1,I100002,C311565,Male,22,Technology,1,2100.00,Credit Card,2024-02-12,Zorlu Center,Young Adult
2,I100003,C366599,Male,20,Clothing,1,300.08,Cash,2023-09-11,Metrocity,Young Adult
3,I100004,C388172,Female,66,Books,5,75.75,Credit Card,2024-01-28,Metropol AVM,Senior
4,I100005,C389076,Female,53,Cosmetics,4,162.64,Cash,2023-10-24,Cevahir AVM,Senior

In [28]:
# Th√™m 1 c·ªôt "Total Price"
df['Total Price'] = df['Quantity'] * df['Price']

df["Total Price"] = df["Total Price"].round(2)

# Hi·ªÉn th·ªã
df.head()

,Invoice Number,Customer ID,Gender,Age,Category,Quantity,Price,Payment Method,Invoice Date,Shopping Mall,Age Group,Total Price
0,I100001,C313884,Female,28,Clothing,2,600.16,Credit Card,2023-05-18,Istinye Park,Young Adult,1200.32
1,I100002,C311565,Male,22,Technology,1,2100.00,Credit Card,2024-02-12,Zorlu Center,Young Adult,2100.0
2,I100003,C366599,Male,20,Clothing,1,300.08,Cash,2023-09-11,Metrocity,Young Adult,300.08
3,I100004,C388172,Female,66,Books,5,75.75,Credit Card,2024-01-28,Metropol AVM,Senior,378.75
4,I100005,C389076,Female,53,Cosmetics,4,162.64,Cash,2023-10-24,Cevahir AVM,Senior,650.56

In [30]:
# T√¨m gi√° tr·ªã outlier c·ªßa c·ªôt "Total Price"
col = 'Total Price'
Q1 = df[col].quantile(0.25)
Q3 = df[col].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# C√°c d√≤ng b·ªã coi l√† outlier
outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
print("S·ªë l∆∞·ª£ng outlier:", outliers.shape[0])

# Xem v√†i outlier ƒë·∫ßu ti√™n
outliers[[col]].head()

S·ªë l∆∞·ª£ng outlier: 63

    Total Price
24       8400.0
30      18900.0
31       7502.0
41      47250.0
54       8400.0

# üõ¢Ô∏è Export Cleaned Data to SQL Server

In [31]:
import pyodbc

SERVER_NAME   = r"DESKTOP-93I7N42\SQLEXPRESS01"   
DATABASE_NAME = "Customer"                     

conn_str = (
    "DRIVER={ODBC Driver 17 for SQL Server};"
    f"SERVER={SERVER_NAME};"
    f"DATABASE={DATABASE_NAME};"
    "Trusted_Connection=yes;"
)

# Connect to SQL
try:
    conn = pyodbc.connect(conn_str)
    print("‚úÖ K·∫øt n·ªëi OK:", conn)
except Exception as e:
    print("‚ùå L·ªói k·∫øt n·ªëi:")
    print(e)

‚úÖ K·∫øt n·ªëi OK: <pyodbc.Connection object at 0x0000016441F52DB0>

In [34]:
import pyodbc

cursor = conn.cursor()

# 1) Ki·ªÉm tra b·∫£ng ƒë√£ t·ªìn t·∫°i ch∆∞a
check_sql = """
SELECT COUNT(*) 
FROM sys.tables 
WHERE name = 'data_cleaned' AND schema_id = SCHEMA_ID('dbo');
"""

cursor.execute(check_sql)
exists = cursor.fetchone()[0]  # 0 = ch∆∞a c√≥, >0 = ƒë√£ t·ªìn t·∫°i

if exists > 0:
    print("‚ÑπÔ∏è B·∫£ng 'data_cleaned' ƒë√£ t·ªìn t·∫°i, b·ªè qua b∆∞·ªõc t·∫°o b·∫£ng.")
else:
    # 2) N·∫øu ch∆∞a c√≥ th√¨ t·∫°o b·∫£ng
    sql_create = """
    CREATE TABLE dbo.data_cleaned (
        Invoice_Number NVARCHAR(20),
        Customer_ID    NVARCHAR(20),
        Gender         NVARCHAR(10),
        Age            INT,
        Category       NVARCHAR(50),
        Quantity       INT,
        Price          DECIMAL(18,2),
        Payment_Method NVARCHAR(50),
        Invoice_Date   DATE,
        Shopping_Mall  NVARCHAR(50),
        Age_Group      NVARCHAR(20),
        Total_Price    DECIMAL(18,2)
    );
    """

    cursor.execute(sql_create)
    conn.commit()
    print("‚úÖ ƒê√£ t·∫°o m·ªõi b·∫£ng 'data_cleaned'.")

‚ÑπÔ∏è B·∫£ng 'data_cleaned' ƒë√£ t·ªìn t·∫°i, b·ªè qua b∆∞·ªõc t·∫°o b·∫£ng.

In [37]:
# L·∫•y danh s√°ch Invoice_Number ƒë√£ c√≥ trong b·∫£ng
cursor.execute("SELECT DISTINCT Invoice_Number FROM data_cleaned")
existing_invoices = {row[0] for row in cursor.fetchall()} 

print(f"üîé ƒê√£ c√≥ s·∫µn {len(existing_invoices)} Invoice_Number trong b·∫£ng data_cleaned.")

# Insert d·ªØ li·ªáu v√†o
insert_sql = """
INSERT INTO data_cleaned (
    Invoice_Number,
    Customer_ID,
    Gender,
    Age,
    Category,
    Quantity,
    Price,
    Payment_Method,
    Invoice_Date,
    Shopping_Mall,
    Age_Group,
    Total_Price
)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
"""

# T·∫°o list tuple t·ª´ df, nh∆∞ng ch·ªâ l·∫•y nh·ªØng Invoice_Number CH∆ØA c√≥ trong b·∫£ng
rows_to_insert = []
for _, row in df.iterrows():
    invoice_num = row["Invoice Number"]   # l·∫•y tr∆∞·ªõc cho d·ªÖ d√πng

    # N·∫øu invoice ƒë√£ t·ªìn t·∫°i trong b·∫£ng th√¨ b·ªè qua
    if invoice_num in existing_invoices:
        # print(f"B·ªè qua Invoice_Number ƒë√£ t·ªìn t·∫°i: {invoice_num}")
        continue

    rows_to_insert.append(
        (
            invoice_num,
            row["Customer ID"],
            row["Gender"],
            int(row["Age"]),
            row["Category"],
            int(row["Quantity"]),
            float(row["Price"]),
            row["Payment Method"],
            pd.to_datetime(row["Invoice Date"]).date(),
            row["Shopping Mall"],
            row["Age Group"],
            float(row["Total Price"])
        )
    )

# N·∫øu c√≤n d√≤ng m·ªõi th√¨ insert
if rows_to_insert:
    cursor.executemany(insert_sql, rows_to_insert)
    conn.commit()
    print(f"‚úÖ ƒê√£ insert {len(rows_to_insert)} d√≤ng M·ªöI v√†o b·∫£ng data_cleaned.")
else:
    print("‚ö†Ô∏è Kh√¥ng c√≥ d√≤ng m·ªõi n√†o ƒë·ªÉ insert (t·∫•t c·∫£ Invoice_Number ƒë·ªÅu ƒë√£ t·ªìn t·∫°i).")

üîé ƒê√£ c√≥ s·∫µn 503 Invoice_Number trong b·∫£ng data_cleaned.
‚ö†Ô∏è Kh√¥ng c√≥ d√≤ng m·ªõi n√†o ƒë·ªÉ insert (t·∫•t c·∫£ Invoice_Number ƒë·ªÅu ƒë√£ t·ªìn t·∫°i).